/*CLASS*/

/*BACKGROUND*/
.backgroundFull
{
    -fx-background-image: url('../images/backgroundMenu.jpg');
    -fx-background-size: 100% 100%;
}
.backgroundRed
{
    -fx-background-image: url('../images/backgroundChooseMode.jpg');
    -fx-background-size: 100% 100%;
}
.backgroundYellow
{
    -fx-background-image: url('../images/backgroundSettings.jpg');
    -fx-background-size: 100% 100%;
}
.backgroundWhite
{
    -fx-background-image: url('../images/backgroundLogin.jpg');
    -fx-background-size: 100% 100%;
}
.backgroundBlue
{
    -fx-background-image: url('../images/backgroundStats.jpg');
    -fx-background-size: 100% 100%;
}
.backgroundGameplay
{
    -fx-background-image: url('../images/backgroundGameplay.png');
    -fx-background-size: 100% 100%;
}
.backgroundTransparent
{
    -fx-background-color: transparent;
}


/*BORDER*/
.borderTop
{
    -fx-border-color: BLACK;
    -fx-border-width: 3px 0px 0px 0px;
}
.borderRight
{
    -fx-border-color: BLACK;
    -fx-border-width: 0px 3px 0px 0px;
}
.borderDown
{
    -fx-border-color: BLACK;
    -fx-border-width: 0px 0px 3px 0px;
}
.borderLeft
{
    -fx-border-color: BLACK;
    -fx-border-width: 0px 0px 0px 3px;
}
.borderTR
{
    -fx-border-color: BLACK;
    -fx-border-width: 3px 3px 0px 0px;
}
.borderTLR
{
    -fx-border-color: BLACK;
    -fx-border-width: 3px 3px 0px 3px;
}
.borderLRD
{
    -fx-border-color: BLACK;
    -fx-border-width: 0px 3px 3px 3px;
}
.borderBlack
{
    -fx-border-color: BLACK;
    -fx-border-width: 3px;
}


/*STYLE*/
.titleStyle
{
    -fx-font-family: Arial;
    -fx-font-size: 80;
    -fx-text-fill: RED;
}

.whiteStyle
{
    -fx-background-color: transparent;
    -fx-border-color: BLACK;
    -fx-border-width: 3px;
    -fx-border-radius: 20px;
    -fx-font-size: 30;
    -fx-font-family: Arial;
}
.whiteStyle:hover
{
    -fx-background-radius: 23px;
    -fx-background-color: linear-gradient(to bottom, WHITE 0%, #cccccc 25%, #999999 50%, #666666 75%);
    -fx-border-width: 4px;
    -fx-text-fill: #800000;
    -fx-font-weight: bold;
}

.blueStyle
{
    -fx-background-color: transparent;
    -fx-border-color: BLACK;
    -fx-border-width: 3px;
    -fx-border-radius: 20px;
    -fx-font-size: 30;
    -fx-font-family: Arial;
}
.blueStyle:hover
{
    -fx-background-radius: 23px;
    -fx-background-color: linear-gradient(to left, #ccebff 0%, #66c2ff 25%, #33adff 50%, #0099ff 75%, #007acc 100%);
    -fx-border-width: 4px;
    -fx-text-fill: BLACK;
    -fx-font-weight: bold;
}

.slider .track
{
    -fx-pref-height: 15px;
    -fx-background-color: linear-gradient(to right, white, black);

}
.slider .thumb
{
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-background-radius: 20px;
    -fx-background-color: RED;

}

.textCMStyle
{
    -fx-font-family: Arial;
    -fx-font-size: 30;
    -fx-text-fill: WHITE;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(two-pass-box, BLACK, 10, 0.0, 4, 1);
}
.buttonGameplay
{
    -fx-font-family: Arial;
    -fx-font-size: 20;
    -fx-border-color: BLACK;
    -fx-border-radius: 15px;
    -fx-background-radius: 20px;
    -fx-border-width: 3px;
    -fx-background-color: WHITE;
}
.buttonGameplay:hover
{
    -fx-background-color: #d4d4d4;
    -fx-border-width: 4px;
}


/*ID*/

#backToLogin
{
    -fx-background-color: transparent;
    -fx-font-size: 18;
    -fx-text-fill: BLUE;
    -fx-underline: true;
}
#backToLogin:hover
{
    -fx-text-fill: PURPLE;
}


#playButton
{
    -fx-font-size: 43;
    -fx-font-family: Arial;
    -fx-text-fill: #c52121;
}
#settingsButton
{
    -fx-font-size: 35;
    -fx-font-family: Arial;
    -fx-text-fill: #ffff39;
}
#statsButton
{
    -fx-font-size: 43;
    -fx-font-family: Arial;
    -fx-text-fill: #0082f2;
}
#exitButton
{
    -fx-font-size: 43;
    -fx-font-family: Arial;
    -fx-text-fill: #00eb15;
}


#modifyNick
{
    -fx-background-color: transparent;
    -fx-border-color: BLACK;
    -fx-border-radius: 20px;
    -fx-border-width: 4px;
}
#modifyNick:hover
{
    -fx-border-width: 5px;
    -fx-background-radius: 25px;
    -fx-background-color: linear-gradient(to left, #ccebff 0%, #66c2ff 25%, #33adff 50%, #0099ff 75%, #007acc 100%);
}

#backSettings
{
    -fx-background-color: transparent;
    -fx-border-color: BLACK;
    -fx-border-radius: 20px;
    -fx-border-width: 4px;
    -fx-font-family: Arial;
    -fx-font-size: 30;
    -fx-text-fill: BLACK;
}
#backSettings:hover
{
    -fx-border-width: 5px;
    -fx-background-radius: 25px;
    -fx-background-color: linear-gradient(to left, #ffe699 0%, #ffcc33 25%, #cc9900 50%, #664d00 75%, #000000 100%);
    -fx-font-weight: bold;
}

#saveSettings
{
    -fx-text-fill: BLACK;
}
#saveSettings:hover
{
    -fx-border-width: 5px;
    -fx-background-radius: 25px;
    -fx-background-color: linear-gradient(to bottom, #ffe699 0%, #ffcc33 25%, #cc9900 50%, #664d00 75%, #000000 100%);
    -fx-font-weight: bold;
    -fx-text-fill: BLACK;
}

#backCM
{
    -fx-background-color: transparent;
    -fx-border-color: WHITE;
    -fx-border-radius: 20px;
    -fx-border-width: 4px;
    -fx-font-family: Arial;
    -fx-font-size: 30;
    -fx-text-fill: WHITE;
}
#backCM:hover
{
    -fx-border-width: 5px;
    -fx-background-radius: 25px;
    /*-fx-background-color: linear-gradient(to right, WHITE 0%, #cccccc 25%, #999999 50%, #666666 75%);*/
    -fx-background-color: WHITE;
    -fx-text-fill: #ab0000;
    -fx-font-weight: bold;
}



#switchButton
{
    -fx-background-color: transparent;
    -fx-border-color: RED;
    -fx-border-width: 3px;
    -fx-border-radius: 50px;
    -fx-font-family: Arial;
    -fx-font-size: 30;
    -fx-text-fill: RED;
}
#switchButton:hover
{
    -fx-text-fill: WHITE;
    -fx-background-color: RED;
    -fx-background-radius: 56px;
    -fx-font-weight: bold;
}