#backgroundMenu
{
    -fx-background-image: url('../images/backgroundMenu.jpg');
    -fx-background-size: 100% 100%;
}

#backgroundStats
{
    -fx-background-image: url('../images/backgroundStats.jpg');
    -fx-background-size: 100% 100%;
}

#backgroundLogin
{
    -fx-background-image: url('../images/backgroundLogin.jpg');
    -fx-background-size: 100% 100%;
}

#backgroundSettings
{
    -fx-background-image: url('../images/backgroundSettings.jpg');
    -fx-background-size: 100% 100%;
}